-- Script Date: 10/12/2011 11:28 PM  - Generated by ExportSqlCe version 3.5.1.7
-- Database information:
-- Locale Identifier: 1033
-- Encryption Mode: Platform Default
-- Case Sensitive: False
-- Database: D:\Repos\wp7-services\wp7-services\App_Data\DataServices.sdf
-- ServerVersion: 4.0.8482.1
-- DatabaseSize: 110592
-- Created: 10/4/2011 6:43 PM

-- User Table information:
-- Number of tables: 2
-- Groceries: 1 row(s)
-- Products: 15 row(s)

CREATE TABLE [Groceries] (
  [Id] int NOT NULL  IDENTITY (76,1)
, [ProductId] int NOT NULL
, [DateCreated] datetime NOT NULL DEFAULT getdate()
);
GO
CREATE TABLE [Products] (
  [Id] int NOT NULL
, [Name] nvarchar(32) NOT NULL
);
GO
SET IDENTITY_INSERT [Groceries] ON;
GO
INSERT INTO [Groceries] ([Id],[ProductId],[DateCreated]) VALUES (75,5,{ts '2011-10-08 20:49:25.053'});
GO
SET IDENTITY_INSERT [Groceries] OFF;
GO
INSERT INTO [Products] ([Id],[Name]) VALUES (1,N'Milk');
GO
INSERT INTO [Products] ([Id],[Name]) VALUES (2,N'Bread');
GO
INSERT INTO [Products] ([Id],[Name]) VALUES (3,N'Eggs');
GO
ALTER TABLE [Groceries] ADD CONSTRAINT [PK_ListItems] PRIMARY KEY ([Id]);
GO
ALTER TABLE [Products] ADD CONSTRAINT [PK_Products] PRIMARY KEY ([Id]);
GO

